{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Welcome to My Portfolio</h1>
    <hr>

    <!-- Work Experiences section -->
    <section class="py-5" id="work_index">
      <div class="container">
        <h2 class="text-center text-dark shadow-lg p-3 mb-5 bg-body rounded">Work Experiences</h2>
        <ul class="list-group">
          {% for work_experience in work_experiences %}
          <li class="list-group-item mb-2">
            <h4>{{ work_experience.title }}</h4>
            <p>{{ work_experience.description }}</p>
          </li>
          {% endfor %}
        </ul>
        <div class="text-center my-3">
          <a href="{% url 'work_index' %}" class="btn btn-dark border border-white">Show More</a>
        </div>
      </div>
    </section>
    <hr>

    <!-- Posts section -->
    <section class="py-5" id="blog_index">
      <div class="container">
        <h2 class="text-center text-dark shadow-lg p-3 mb-5 bg-body rounded">Blog Posts</h2>
        <ul class="list-group">
          {% for post in posts %}
            <li class="list-group-item text-dark mb-2">{{ post.title }} by {{ post.author }}</li>
          {% endfor %}
        </ul>
        <div class="text-center my-3">
          <a href="{% url 'blog_index' %}" class="btn btn-dark border border-white">Show More</a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
