{% extends 'base.html' %}

{% block title %}
  Work gallery
{% endblock %}

{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/work_index.css' %}">
{% endblock %}

{% block content %}

  <div>
    {% if user.is_authenticated and user.is_staff %}
      <a href="{% url 'create_work' %}" class="btn btn-outline-light">Add New Work Experience</a>
    {% endif %}
  </div>

  <div class="container py-5">
    <h1 class="mb-4">My Work</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for work in works %}
        <div class="col">
          <div class="card shadow-sm bg-secondary pt-3">
            <a href="{% url 'work_detail' pk=work.pk %}">
              <img src="{{ work.image.url }}" alt="{{ work.title }}" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ work.title }}</h5>
              <p class="card-text">{{ work.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ work.date_created|date:'M d, Y' }}</small>
              </div>
            </div>
            <a href="{% url 'work_detail' pk=work.pk %}" class="btn btn-outline-dark">Read More &rarr;</a>
          </div>
        </div>
      {% empty %}
        <p>No works available.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
