.logout-message {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(210, 210, 210);
    color: rgb(20, 15, 9);
    border-radius: 2px;
    padding: 10px;
}

.modal-content {
    background-color: rgb(25, 27, 30);
}

.form-control-file::-webkit-file-upload-button {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.form-control-file::-moz-file-upload-button {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}