{% extends 'base.html' %}

{% block title %}
  Favorite Posts
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    {% for post in favorite_posts %}
      <div class="card mb-3 col-md-3 mb-3 mx-3 bg-secondary">
        {% if post.image %}
          <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.body|truncatewords:50 }}</p>
          <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-dark">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{ post.created_date|date:"F j, Y" }} by {{ post.author }}
          <a href="{% url 'remove_favorite' post.pk %}" class="btn btn-outline-dark">Remove from Favorites</a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if not favorite_posts %}
    <p>You have no favorite posts.</p>
  {% endif %}
{% endblock %}
